/*--for loading---*/
.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/Interactive_3D_Earth/img/Preloader_2.gif) center no-repeat #fff; /*/prototype/globev2/img/Preloader_2.gif*/
}
/*------------------------*/

/*---globe container and list---*/
.js-globe {
	position: relative;
	margin: auto;
	height: inherit;
	z-index: 33;
}

#top-glow {
	position: absolute;
	top: calc(-4% - 10px);
	right: 0;
	z-index: -1;
	background-image: url(/Interactive_3D_Earth/img/globe-topglow.png);
	background-size: 63%;
	background-repeat: no-repeat;
	background-position: center;
}

.js-canvas {
	z-index: 0;
	cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}

.js-list {
	list-style-type: none;
	margin: 0;
}

.js-list li:hover {
	background: #d5cccc !important;
	cursor: pointer;
}

.globe .globe-list > li {
	opacity: 1;
	border: 2px solid #383535;
	position: absolute;
	margin-left: -49px;
	margin-top: -9px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #ffffff;
	z-index: 51;
}

.globe .globe-list > li:before {
	content: "";
	opacity: 0.5;
	pointer-events: none;
	margin-left: -8px;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	z-index: 52;
}

	/*country text*/
.globe .globe-list .text {
	position: absolute;
	opacity: 1;
	right: 17px;
	top: 50%;
	display: block;
	font-size: 13px;
	line-height: 9px;
	font-weight: 600;
	text-align: right;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
	color: #fff;
	white-space: nowrap;
	transform: translateY(-50%);
	width: auto;
	height: 16px;
	background-color: #0d0d0d;
	padding: 2px;
}

/*countries that have text-box on right side*/
.Ontario span, .California span, .Carolina span, .Jersey span, .Massachusetts span, .Germany span, .Austria span, .Delaware span, .Switzerland span, .Kingdoms span  {
	position: relative !important;
  right: -18px !important;
  text-align: left !important;
  float: left !important;
  top: -19px !important;
}

.Ontario {
  width: 26px !important;
  height: 26px !important;
  background: #FFF !important;
}

.Ontario span{
	font-size: 34px !important;
  height: 30px !important;
  line-height: 8px !important;
  padding: 9px !important;
  left: 27px !important;
  top: -13px !important;
  border-radius: 0px;
}
/*------------------------*/

/*---hide globe when screen is too small*/
@media screen and (max-width: 650px) {
    .globe {display: none;}
}
